<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  <!--  Header End -->
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Alumnos</h5>
                    <div class="card">
                        <div class="card-body">
                            <table class="table text-nowrap mb-0 align-middle table-responsive-sm" style="background-color: white; border-radius: 1em;">
                                <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">Nombre</th>
                                        <th class="border-bottom-0">Apellidos</th>
                                        <th class="border-bottom-0">Usuario</th>
                                        <th class="border-bottom-0">Fecha de nacimiento</th>
                                        <th class="border-bottom-0">Centro</th>
                                        <th class="border-bottom-0">Clase</th>
                                        <th class="border-bottom-0"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let alumno of alumnosData">
                                    <tr>
                                        <td class="border-bottom-0">{{alumno.Nombre}}</td>
                                        <td class="border-bottom-0">{{alumno.Apellidos}}</td>
                                        <td class="border-bottom-0">{{alumno.Usuario}}</td>
                                        <td class="border-bottom-0">{{alumno.FechaNacimiento}}</td>
                                        <td class="border-bottom-0">{{alumno.NomCentro}}</td>
                                        <td class="border-bottom-0">{{alumno.NomClase}}</td>
                                        <td class="border-bottom-0">
                                            <button class="btn btn-primary" (click)="editarAlumno(alumno)">M</button>
                                          <button class="btn btn-danger" (click)="eliminarAlumno(alumno.ID_Alumno)">E</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <app-pagination (cambiarPagina)="cambiarPagina($event)" [texto]="true" [totalRegistros]="totalAlumnos" [registroActual]="posActual+1" [registroPag]="regPag"></app-pagination>
                        </div>
                    </div>
                    <a href="/admin/crear-alumnos" class="btn btn-danger">Crear Alumno</a>
                    <a href="/admin/dashboard" class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="py-6 px-6 text-center">
      <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
    </div>
  </div>
</div>
</div>

