<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid"> 
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Últimas preguntas respondidas <span><i class="ti ti-activity" style="font-size: 20px;"></i></span></h5>
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap mb-0 align-middle" style="background-color: white; border-radius: 1em;">
                                            <thead class="text-dark fs-4">
                                                <tr>
                                                    <th class="border-bottom-0"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</th>
                                                    <th class="border-bottom-0"><span><i class="ti ti-123" style="font-size: 15px;"></i></span> Clase</th>
                                                    <th class="border-bottom-0"><span><i class="ti ti-123" style="font-size: 15px;"></i></span> Ámbito</th>
                                                    <th class="border-bottom-0"><span><i class="ti ti-question-mark" style="font-size: 15px;"></i></span> Pregunta</th>
                                                    <th class="border-bottom-0"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Respuesta</th>
                                                    <th class="border-bottom-0"><span><i class="ti ti-alert-circle" style="font-size: 15px;"></i></span> Grado</th>
                                                    <th class="border-bottom-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let reciente of recientesData">
                                                    <td class="border-bottom-0">{{reciente.Alumno.Nombre}} {{reciente.Alumno.Apellidos}}</td>
                                                    <td class="border-bottom-0">{{reciente.Alumno.Clase.Nombre}}</td>
                                                    <td class="border-bottom-0">{{reciente.Pregunta.Ambito.Nombre}}</td>
                                                    <td class="border-bottom-0">{{reciente.Pregunta.TextoPregunta}}</td>
                                                    <td class="border-bottom-0">{{reciente.Opcion.TextoOpcion}}</td>
                                                    <td class="border-bottom-0" [ngSwitch]="reciente.Opcion.Gravedad">
                                                        <span *ngSwitchCase="-2">Alarmante</span>
                                                        <span *ngSwitchCase="0">Normal</span>
                                                        <span *ngSwitchCase="1">Buena</span>
                                                        <span *ngSwitchCase="2">Muy Buena</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <a href="/profesores/ver-perfil-alumno" class="btn btn-primary"><span><i class="ti ti-click" style="font-size: 15px;"></i></span> Ver Perfil</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <app-pagination (cambiarPagina)="cambiarPagina($event)" [texto]="true" [totalRegistros]="totalActividades" [registroActual]="posActual+1" (filasPagina)="cambiarFilasPagina($event)" [registroPag]="filPag"></app-pagination>
                                    </div>
                                </div>
                            </div>
                            <a href="/profesores/dashboard" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    
        <div class="py-6 px-6 text-center">
          <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
        </div>

</div>