<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper" style="margin-left: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Yearly Breakup -->
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold">{{alumnosData.Nombre}} {{alumnosData.Apellidos}}</h5>
                                            <h5 class="fw-semibold mb-3"> Clase: {{alumnosData.Clase.Nombre}}</h5>
                                        </div>
                                        <div class="col-4 text-end">
                                            <img src="../assets/images/avatar.jpg" alt="Foto de perfil" style="width: 90px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Monthly Earnings -->
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="mb-4">
                                    <h5 class="card-title fw-semibold"> Estado actual de cada ambito</h5>
                                </div>
                                <div style="float: left; width: 50%; text-align: center;">
                                    <ul>
                                        <li style="margin-top: 7px;"><div>Clase</div></li>
                                        <li style="margin-top: 7px;"><div>Amigos</div></li>
                                        <li style="margin-top: 7px;"><div>Familia</div></li>
                                        <li style="margin-top: 7px;"><div>Fuera de clase</div></li>
                                        <li style="margin-top: 7px;"><div>Emociones</div></li>
                                    </ul>
                                </div>
                                <div style="float: left; width: 50%; text-align: center;">
                                    <ul>
                                        <li>
                                            <span class="badge bg-success rounded-3">Bueno - 6</span>
                                        </li>
                                        <li>
                                            <span class="badge bg-danger rounded-3">Mal - 4</span>
                                        </li>
                                        <li>
                                            <span class="badge bg-success rounded-3">Genial - 9</span>
                                        </li>
                                        <li>
                                            <span class="badge bg-danger rounded-3">Fatal - 2</span>
                                        </li>
                                        <li>
                                            <span class="badge bg-secondary rounded-3">Normal - 6</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold">Últimos 7 días</h5>
                                </div>
                                <div>
                                    <select class="form-select">
                                        <option value="1">Esta semana</option>
                                        <option value="2">Semana pasada</option>
                                        <option value="3">Mes pasado</option>
                                    </select>
                                </div>
                            </div>
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-stretch">
                <!---<div class="col-lg-4 ">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold">Calificación actual de cada ámbito</h5>
                            </div>
                            <div style="float: left; width: 50%; text-align: center;">
                                <ul>
                                    <li style="margin-top: 7px;"><div>Clase</div></li>
                                    <li style="margin-top: 7px;"><div>Amigos</div></li>
                                    <li style="margin-top: 7px;"><div>Familia</div></li>
                                    <li style="margin-top: 7px;"><div>Fuera de clase</div></li>
                                    <li style="margin-top: 7px;"><div>Emociones</div></li>
                                </ul>
                            </div>
                            <div style="float: left; width: 50%; text-align: center;">
                                <ul>
                                    <li style="margin-top: 7px;"><div>7</div></li>
                                    <li style="margin-top: 7px;"><div>4</div></li>
                                    <li style="margin-top: 7px;"><div>9</div></li>
                                    <li style="margin-top: 7px;"><div>1</div></li>
                                    <li style="margin-top: 7px;"><div>5</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>--->
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <h5 class="card-title fw-semibold mb-4">Preguntas <span class="badge bg-danger rounded-3">alarmantes</span> recientes</h5>
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 align-middle">
                                    <tbody>
                                        <tr>
                                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">1</h6></td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">¿Cómo te sientes hoy?</h6>
                                                <span class="fw-normal">Emociones</span>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">Mal</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">2</h6></td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">¿Qué haces con tus amigos?</h6>
                                                <span class="fw-normal">Amigos</span>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">No tengo amigos</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">3</h6></td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">¿Qué haces con tus amigos?</h6>
                                                <span class="fw-normal">Amigos</span>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal">No tengo amigos</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold" style=" text-align: center;">Descargar informe</h5>
                            </div>
                            <div style=" text-align: center; margin-top: 20px;">
                                <ul>
                                    <li style="margin-top: 7px;"><div><button type="button" class="btn btn-outline-primary m-1">PDF</button>
                                        <button type="button" class="btn btn-outline-primary m-1">ePub</button>
                                    </div></li>
                                    <li style="margin-top: 7px;"><div><button type="button" class="btn btn-outline-primary m-1">HTML</button>
                                        <button type="button" class="btn btn-outline-primary m-1">XML</button></div></li>
                                </ul>
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold" style=" text-align: center;">Ver más preguntas</h5>
                            </div>
                            <div style=" text-align: center; margin-top: 20px;">
                                <ul>
                                    <li style="margin-top: 7px;"><div>
                                        <button type="button" class="btn btn-outline-primary m-1">Más preguntas</button>
                                    </div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!---
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid"> 
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-container text-center">
                            <img src="../assets/images/avatar.jpg" alt="Foto de perfil" class="profile-image rounded-circle">
                            <h3>{{alumnosData.Nombre}}</h3> <span [ngClass]="getClaseEstado()">{{alumnosData.Estado}}</span>
                        </div>
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h5 class="card-title fw-semibold mb-4">Últimas respuestas</h5>
                                <table class="table text-nowrap mb-0 align-middle" style="background-color: rgb(250, 252, 251); border-radius: 1em;">
                                    <thead class="text-dark fs-4">
                                        <tr>
                                            <th class="border-bottom-0">Preguntas</th>
                                            <th class="border-bottom-0">Respuesta</th>
                                            <th class="border-bottom-0">Fecha</th>
                                            <th class="border-bottom-0">Hora</th>
                                            <th class="border-bottom-0"> </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let resultado of resultadosData">
                                        <tr>
                                            <td class="border-bottom-0">{{resultado.ID_Pregunta}}</td>
                                            <td class="border-bottom-0">{{resultado.Respuesta}}</td>
                                            <td class="border-bottom-0">{{resultado.Fecha}}</td>
                                            <td class="border-bottom-0">{{resultado.Hora}}</td>
                                            <td class="border-bottom-0 gravedad-circle" [ngClass]="getGravedadClass(resultado.Gravedad)"></td> 
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <button class="btn btn-light" (click)="volver()">Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="py-6 px-6 text-center">
            <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
        </div>
    </div>
</div>-->