<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Profesor</h5>
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <h4 class="card-title fw-semibold">Mi Perfil</h4>
                                </div>
                                <div class="mb-4">
                                    <p>Nombre: {{profesoresData.Nombre}}</p>
                                </div>
                                <div class="mb-4">
                                    <p>Apellidos: {{profesoresData.Apellidos}}</p>
                                </div>
                                <div class="mb-4">
                                    <p>Email: {{profesoresData.Email}}</p>
                                </div>
                                <a href="/profesores/editar-profesor" class="btn btn-danger">Editar Perfil</a>
                                <a href="/profesores/dashboard" class="btn btn-danger">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6 px-6 text-center">
            <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
        </div>
    </div>  
</div>