<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <div class="mb-4">
                            <h4 class="card-title fw-semibold">Mi Perfil</h4>
                        </div>
                        <div class="mb-4">
                            <p>Nombre: </p>
                        </div>
                        <div class="mb-4">
                            <p>Email: </p>
                        </div>
                        <a href="/admin/editar-admin" class="btn btn-danger">Editar Perfil</a>
                        <a href="/admin/dashboard" class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6 px-6 text-center">
            <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
        </div>
    </div>  
</div>

  