<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  <div class="container-fluid">
    <!--  Row 1 -->
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold mb-4">Bienvenido de nuevo</h5>
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center">
                  <a href="/" class="btn btn-outline-danger btn-custom custom1">Ver Centros</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Crear Centro</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Ver Profesores</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Crear Profesor</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Ver Alumnos</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Crear Alumno</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Ver Clases</a>
                  <a href="/" class="btn btn-outline-danger btn-custom">Crear Clase</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="py-6 px-6 text-center">
      <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
    </div>
  </div>
</div>
