<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">


<!--  Sidebar End -->
<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
 
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Cambiar Contraseña</h5>
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="form">
                    <div class="mb-3">
                      <label for="Contraseña" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" formControlName="Contraseña" id="Contraseña">
                    </div>
                    <div class="mb-3">
                      <label for="newPassword" class="form-label">Nueva contraseña</label>
                      <input type="password" class="form-control" formControlName="newPassword" id="newPassword">
                    </div> 
                    <div class="mb-3">
                      <label for="newPassword2" class="form-label">Repetir contraseña</label>
                      <input type="password" class="form-control" formControlName="newPassword2" id="newPassword2">
                    </div>
                    <button class="btn btn-danger" (click)="cambiarPwd()">Aceptar</button>
                    <a routerLink="/admin/perfil" class="btn btn-danger">Volver</a>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
      
    <div class="py-6 px-6 text-center">
        <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
      </div>
  </div>
</div>
</div>
