<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">


<!--  Sidebar End -->
<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
 
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Editar mi perfil</h5>
              <div class="card">
                <div class="card-body">
                  <form>
                    <!--<div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre</label>
                      <input class="form-control" formControlName="Nombre" id="Nombre">
                    </div>
                    <div class="mb-3">
                      <label for="Email" class="form-label">Email</label>
                      <input class="form-control" formControlName="Email" id="Email">
                      </div>
                    <div class="mb-3">
                      <label for="Contraseña" class="form-label">Contraseña</label>
                      <input class="form-control" formControlName="Contraseña" id="Contraseña">
                    </div>
                    <div class="mb-3">
                        <label for="Usuario" class="form-label">Repetir contraseña</label>
                        <input class="form-control" formControlName="Usuario" id="Usuario">
                      </div> -->
                    <button class="btn btn-danger">Aceptar</button>
                    <a routerLink="/admin/dashboard" class="btn btn-danger">Volver</a>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
      
    <div class="py-6 px-6 text-center">
        <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
      </div>
  </div>
</div>
</div>
