<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
        <!--  Row 1 -->
        
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4" *ngFor="let clase of clasesData.clases">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{clase.Nombre}}</h5>
                            <button class="btn btn-primary" (click)="verClase(clase.ID_Clase)">Ver Clase</button>
                            <button class="btn btn-danger" (click)="eliminarClase(clase.ID_Clase)">Eliminar</button>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <br>
        <br>
    
        <div class="py-6 px-6 text-center">
          <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
        </div>
    

</div>