<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
 
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Crear Centro</h5>
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="form">
                    <div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre</label>
                      <input class="form-control" formControlName="Nombre" id="Nombre">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Nombre')">El Nombre es obligatorio</p>
                    <div class="mb-3">
                      <label for="Email" class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="Email">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Email')">El Email es obligatorio</p>
                    <div class="mb-4">
                      <label for="Contraseña" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" formControlName="Contraseña" id="Contraseña">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Contraseña')">La Contraseña es obligatoria</p>
                    <div class="mb-4">
                      <label for="Calle" class="form-label">Calle</label>
                      <input class="form-control" formControlName="Calle" id="Calle">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Calle')">La Calle es obligatoria</p>
                    <div class="mb-4">
                      <label for="CP" class="form-label">Cóigo Postal</label>
                      <input class="form-control" formControlName="CP" id="CP">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('CP')">El Código Postal es obligatorio</p>
                    <div class="mb-4">
                      <label for="Localidad" class="form-label">Localidad</label>
                      <input class="form-control" formControlName="Localidad" id="Localidad">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Localidad')">La Localidad es obligatoria</p>
                    <div class="mb-4">
                      <label for="Provincia" class="form-label">Provincia</label>
                      <input class="form-control d-inline-block" formControlName="Provincia" id="Provincia">
                    </div>
                    <p class="text-danger" *ngIf="!validarForm('Provincia')">La Provincia es obligatoria</p>
                    <button class="btn btn-danger" (click)="crearCentro()">Aceptar</button>
                    <button href='/centros' class="btn btn-danger">Volver</button>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
    
      
    <div class="py-6 px-6 text-center">
        <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
      </div>
  </div>
</div>
</div>
