<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

  <div class="body-wrapper" style="margin-left: 0;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 align-items-strech">
          <div class="card">
            <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4"> Clase {{claseData.Nombre}} <span><i class="ti ti-friends" style="font-size: 20px;"></i></span></h5>
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-nowrap mb-0 align-middle" style="background-color: white; border-radius: 1em;">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</th>
                                <th class="border-bottom-0"><span><i class="ti ti-pin" style="font-size: 15px;"></i></span> Estado</th>
                                <th class="border-bottom-0"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let alumno of alumnosData">
                          <tr>
                              <td class="border-bottom-0">{{alumno.Nombre}} {{alumno.Apellidos}}</td>
                              <td class="border-bottom-0">
                                  <div class="d-flex align-items-center gap-2">
                                      <span [ngClass]="getClaseEstado(alumno.Estado)">{{alumno.Estado}}</span>
                                  </div>
                              </td>
                              <td class="border-bottom-0">
                                  <button class="btn btn-primary" (click)="verPerfil(alumno)"><span><i class="ti ti-click" style="font-size: 15px;"></i></span></button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <app-pagination (cambiarPagina)="cambiarPagina($event)" [texto]="true" [totalRegistros]="totalAlumnos" [registroActual]="posActual+1" (filasPagina)="cambiarFilasPagina($event)" [registroPag]="filPag"></app-pagination>
                    </div>
                  </div>
                </div>
                <a href="/profesores/dashboard" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="card overflow-hidden">
                <div class="card-body">
                  <h5 class="card-title mb-9 fw-semibold"><span><i class="ti ti-graph" style="font-size: 20px;"></i></span> Gráfica General/Ámbitos</h5> 
                </div>
                <div>
                  <select class="form-select w-auto ms-0 ms-sm-2 me-8 py-1 pe-7 ps-2 border-0">
                      <option>General</option>
                      <option>Clase</option>
                      <option>Amigos</option>
                      <option>Familia</option>
                      <option>Emociones</option>
                      <option>Fuera de clase</option>
                  </select>
              </div>
                <div id="chart1"></div>
              </div>
            </div>
            
          </div>
        </div>   
      </div>
      <div class="container-fluid">
        <div class="card">
            <div class="alert alert-secondary" style="margin-bottom: 0;" role="alert">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Últimas preguntas respondidas de esta clase <span><i class="ti ti-activity" style="font-size: 20px;"></i></span></h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 align-middle" style="background-color: white; border-radius: 1em;">
                                    <thead class="text-dark fs-4">
                                        <tr>
                                            <th class="border-bottom-0"><span><i class="ti ti-signature" style="font-size: 15px;"></i></span> Nombre</th>
                                            <th class="border-bottom-0"><span><i class="ti ti-123" style="font-size: 15px;"></i></span> Clase</th>
                                            <th class="border-bottom-0"><span><i class="ti ti-question-mark" style="font-size: 15px;"></i></span> Pregunta</th>
                                            <th class="border-bottom-0"><span><i class="ti ti-check" style="font-size: 15px;"></i></span> Respuesta</th>
                                            <th class="border-bottom-0"><span><i class="ti ti-alert-circle" style="font-size: 15px;"></i></span> Grado</th>
                                            <th class="border-bottom-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let respuesta of respuestasData">
                                        <tr>
                                            <td class="border-bottom-0">{{respuesta.Alumno.Nombre}}</td>
                                            <td class="border-bottom-0">{{respuesta.Alumno.Clase.Nombre}}</td>
                                            <td class="border-bottom-0">{{respuesta.Pregunta.TextoPregunta}}</td>
                                            <td class="border-bottom-0">{{respuesta.Opcion.TextoOpcion}}</td>
                                            <td class="border-bottom-0">{{respuesta.Opcion.Gravedad}}</td>
                                            <td class="border-bottom-0">
                                            <a href="/profesores/ver-perfil-alumno" class="btn btn-primary"><span><i class="ti ti-click" style="font-size: 15px;"></i></span> Ver Perfil</a>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <a href="/profesores/dashboard" class="btn btn-outline-dark"><span><i class="ti ti-arrow-back" style="font-size: 15px;"></i></span> Volver</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="py-6 px-6 text-center">
    <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
  </div>
</div>