<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Crear Clase</h5>
            <div class="card">
              <div class="card-body">
                <form [formGroup]="form">
                  <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input class="form-control" formControlName="Nombre" id="Nombre">
                  </div>
                  <p class="text-danger" *ngIf="!validarForm('Nombre')">El Nombre es obligatorio</p>
                  <div class="mb-3">
                    <label for="ID_Centro" class="form-label">Centro</label>
                    <input class="form-control" formControlName="ID_Centro" id="ID_Centro">
                  </div>
                  <p class="text-danger" *ngIf="!validarForm('ID_Centro')">El Centro es obligatorio</p>
                  <div class="mb-3">
                    <label for="NumAlumnos" class="form-label">Nº Alumnos</label>
                    <input class="form-control" formControlName="NumAlumnos" id="NumAlumnos">
                  </div>
                  <p class="text-danger" *ngIf="!validarForm('NumAlumnos')">El Número de alumnos es obligatorio</p>
                  <button class="btn btn-danger" (click)="crearClase()">Aceptar</button>
                  <button href="/ver-clases" class="btn btn-danger">Volver</button>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
      
    <div class="py-6 px-6 text-center">
        <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
      </div>
  </div>
</div>
</div>
