<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

<!--  Main wrapper -->
<div class="body-wrapper" style="margin-left: 0;">
  
  <div class="container-fluid">
    <!--  Row 1 -->
    
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Editar Profesor</h5>
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="form">
                    <div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre</label>
                    <input class="form-control" formControlName="Nombre" id="Nombre">
                    </div>
                    <div class="mb-3">
                      <label for="Apellidos" class="form-label">Apellidos</label>
                      <input class="form-control" formControlName="Apellidos" id="Apellidos">
                    </div>
                    <div class="mb-3">
                      <label for="Email" class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="Email" id="Email">
                      </div>
                    <div class="mb-3">
                      <label for="ID_Centro" class="form-label">Centro</label>
                      <input class="form-control" formControlName="ID_Centro" id="ID_Centro">
                    </div>
                    <div class="mb-3">
                      <label for="ID_Clase" class="form-label">Clase</label>
                      <input class="form-control" formControlName="ID_Clase" id="ID_Clase">
                      </div>
                      <button class="btn btn-danger" (click)="actualizarProfesor()">Aceptar</button>
                    <a routerLink="/admin/ver-profesores"class="btn btn-danger">Volver</a>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
      
    <div class="py-6 px-6 text-center">
        <p class="copyright">&copy; 2023 Blooming. Proyecto académico de la Universidad de Alicante .</p>
      </div>
  </div>
</div>
</div>
